# Базовая часть

## Задание 1.1

Напишите функцию, которая принимает список чисел my_list (количество товаров разных марок) и число $n$ и возвращает сумму всех чисел списка меньше либо равных $n$ (суммарное количество товаров, которых в наличие меньше либо равно $n$).

In [38]:
def function_1_1(my_list, n):
    # допишите код здесь
    s = 0
    for x in my_list:
        if x <= n:
            s += x
    return s

In [39]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 7) == 31

True

In [40]:
function_1_1([1, 2, 3, 4, 4, 3, 2, 1], 7) == 20

True

In [41]:
function_1_1([1, 2, 3, 4, 4, 3, 2, 1], 3) == 12

True

In [42]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 5) == 18

True

In [43]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 3) == 9

True

In [44]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 0) == 0

True

#### Значение для формы

In [46]:
import random

random.seed(42)
print(function_1_1([random.randint(0, 1000) for _ in range(10000)], 700))

2496584

## Задание 1.2

Имеется список пар (фамилия, долг) $my\_list$ и число $dept$. Нужно написать функцию, которая для каждой фамилии находит суммарный долг и выводит отсортированный список фамилий, у которых долг строго больше $dept$.

Одна и та же фамилия может встречаться несколько раз, и тогда долги по ней суммируются.

In [47]:
from collections import defaultdict

def function_1_2(my_list, dept):
    # допишите код здесь
    output_list = []
    d = defaultdict(int)
    for key, value in my_list:
        d[key] += value
    
    for key, value in d.items():
        if value > dept:
            output_list+=[key]
    output_list.sort()
    return output_list

In [48]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 1) == ['Ivanov', 'Petrov', 'Sidorov']

True

In [49]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 2) == ['Ivanov', 'Sidorov']

True

In [50]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 3) == ['Sidorov']

True

In [51]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 4) == []

True

In [52]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 1), ('Sidorov', 4)], 2) == ['Sidorov']

True

In [53]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 2) == ['Ivanov', 'Petrov']

True

In [54]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 3) == ['Petrov']

True

#### Значение для формы

In [56]:
import random
import numpy as np


random.seed(42)
print(','.join(function_1_2([
    (str(random.randint(1, 20)), random.randint(1, 1000) )
    for _ in range(1000)
], 25000)))

10,11,14,18,19,3,4,5,8,9

# Продвинутая часть

## Задание 2.1

Напишите функцию, принимающую число $n$ и считающую $n!$, не используя модуль math

$n! = 1 \cdot 2 \cdot 3 \cdot \dots \cdot (n - 1) \cdot n$

Подсказка: воспользуйтесь циклами

In [57]:
def function_2_1(n):
    fact=1
    # допишите код здесь
    for i in range(1, n+1):
        fact*=i
    return fact

In [58]:
function_2_1(3) == 6

True

In [59]:
function_2_1(5) == 120

True

In [60]:
function_2_1(9) == 362880

True

In [61]:
function_2_1(13) == 6227020800

True

#### Значение для формы

In [63]:
print(function_2_1(100))

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

## Задание 2.2

Есть два списка чисел: цены товаров в одном магазине и цены товаров в другом магазине.

Нужно сравнить средние (среднее берётся по всем товарам) цены, минимальные цены и максимальные  в магазинах. Если первое зачение меньше надо вернуть 'First', если второе, то 'Second', а если равны, то 'Equal'

Например, function_2_2([1, 2, 3], [2, 2, 2])

В первом магазине среднее значение 2, минимальное 1, максимальное 3. А во втором среднее 2, минимальное 2 и максимальное 2.

Результаты сравнения $2 = 2,~1 < 2,~3 > 2$, поэтому нужно вернуть  ('Equal', 'First', 'Second')

In [64]:
def function_name(variable1, variable2):
    if variable1 < variable2:
        return 'First'
    elif variable1 > variable2:
        return 'Second'
    else:
        return 'Equal'

def average(list_n):
    for x in list_n:
        return sum(list_n)/len(list_n)    

def function_2_2(list1, list2): 
    # допишите код здесь
    first_el = function_name(average(list1), average(list2))
    second_el = function_name(min(list1), min(list2))
    third_el = function_name(max(list1), max(list2))
    return (first_el, second_el, third_el)

In [65]:
function_2_2([1, 2, 3], [2, 2, 2]) == ('Equal', 'First', 'Second')

True

In [66]:
function_2_2([2, 2, 1], [4]) ==('First', 'First', 'First')

True

In [67]:
function_2_2([3, 5], [2, 4, 6]) == ('Equal', 'Second', 'First')

True

In [68]:
function_2_2([1, 7], [2, 4, 7]) == ('First', 'First', 'Equal')

True

#### Значение для формы

In [70]:
import random

random.seed(47)
print(','.join(function_2_2(
    [random.randint(0, 100000) for _ in range(1000)],
    [random.randint(0, 100000) for _ in range(1000)]
)))

Second,First,Second

# Сложная часть

## Задание 3.1

Вам известны количество продаж разных товаров. Они представлены в виде списка, первое значение - число продаж первого товара, второе значение - второго, и так далее. Вы хотите посмотреть на список самых популярных товаров среди тех, у которых объём продаж не выше заданного числа.

Напишите функцию, которая принимает список чисел my_list, число  $n$ и число $k$  и возвращает сумму $k$ наибольших чисел среди всех чисел списка меньше либо равных  $n$ .

In [71]:
def function_3_1(my_list, n, k):
    # допишите код здесь
    new_list = []
    for x in my_list:
        if x <= n:
            new_list += [x]
    new_list.sort()   
    return sum(list(reversed(new_list))[:k])

In [72]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 1) == 7

True

In [73]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 3) == 18

True

In [74]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 5) == 25

True

In [75]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 8) == 31

True

In [76]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 10) == 31

True

In [77]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 3) == 18

True

In [78]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 3) == 13

True

In [79]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 3) == 7

True

In [80]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 2) == 12

True

In [81]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 2) == 10

True

In [82]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 2) == 6

True

#### Значение для формы

In [84]:
import random

random.seed(42)
print(function_3_1([random.randint(0, 1000) for _ in range(10000)], 700, 300))

205778

## Задание 3.2

Напишите списковое выражение, генерирующее все простые числа не больше заданного числа

In [85]:
def is_prime(n):
    for i in range(2, n):
        if(n%i==0):
            return False
    return True

def function_3_2(n):
    return [
        # допишите код здесь
        i for i in range(2, n+1) if is_prime(i)
    ]

In [86]:
function_3_2(3) == [2, 3]

True

In [87]:
function_3_2(10) == [2, 3, 5, 7]

True

In [88]:
function_3_2(20) == [2, 3, 5, 7, 11, 13, 17, 19]

True

#### Значение для формы

In [90]:
print(sum(function_3_2(10000)))

5736396

# По хардкору

## Задание 4.1

Напишите функцию, которая по множеству, возвращает список всех его подмножеств

In [91]:
def function_4_1(my_set):
    if len(my_set) == 1:
        return [my_set, set()]
    else:
        x = my_set.pop()
        result = []
        for seti in function_4_1(my_set):
            result.append(seti)
            seti_addx = seti.copy()
            seti_addx.add(x)
            result.append(seti_addx)
        return result

print(function_4_1({1, 2, 3}))

[{3}, {1, 3}, {2, 3}, {1, 2, 3}, set(), {1}, {2}, {1, 2}]

In [92]:
def check_4_1(my_set, function_res):
    if len(function_res) != len(set(map(frozenset, function_res))):
        return False
    if len(function_res) != 2 ** len(my_set):
        return False
    return all(x <= my_set for x in function_res)

In [93]:
check_4_1(set(range(10)), function_4_1(set(range(10))))

True

In [94]:
check_4_1(set(range(1)), function_4_1(set(range(1))))

True

In [95]:
check_4_1(set(range(20)), function_4_1(set(range(20))))

True

#### Значение для формы

In [96]:
print(sum([
    len(subset) - sum(subset) + sum(subset) ** 2
    for subset in function_4_1(set(range(2, 21, 3)))
]))

220416

## Задание 4.2

Напишите функцию раскладывающее число на простые множители

по числу $n$ нужно вернуть список пар $(p_i, c_i)$ такой, что $\prod_i~p_i^{c_i} = n$

In [116]:
def is_prime(n):
    return n > 1 and all(n % i != 0 for i in range(2, n))

def div_list(n):
    n_div = n
    div_list = []
    j = 2 
    while True:
        if (n_div%j == 0 and is_prime(j)):
            n_div /= j
            div_list.append(j)
            if(n_div == 1): 
                break
        else:
            j+=1
    return div_list
    

def function_4_2(n):
    mult_list = []
    out_set = set()
    if is_prime(n):
        out_list.append((n, 1)) 
    else:
        mult_list = div_list(n) #Раскладываем на множители. Получаем список множителей
        for x in mult_list:
            out_set.add((x, mult_list.count(x))) 
    return sorted(list(out_set))

In [117]:
def check_4_2(n, my_list):
    prod = 1
    for p, c in my_list:
        if not is_prime(p):
            return False
        prod *= p ** c
    return prod == n

In [118]:
check_4_2(10, function_4_2(10))

True

In [119]:
check_4_2(11690, function_4_2(11690))

True

In [120]:
check_4_2(254242, function_4_2(254242))

True

#### Значение для формы

In [121]:
print(sum(
    (c + 1) ** (p - 1) * c - p
    for p, c in function_4_2(7648)
))

441711766194596082395824375185729628956870974218904739530401550323154733